name: Test

on:
  push:
    branches: [ "main", "dev", "release_ci" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Cache LLVM and Clang
      id: cache-llvm
      uses: actions/cache@v3
      with:
        path: ./llvm
        key: llvm-15.0-ubuntu-latest

    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "15.0"
        cached: ${{ steps.cache-llvm.outputs.cache-hit }}
  
    - name: Build
      run: |
        make
        make native

    - name: Test
      run: cargo test --verbose --release
